.Navbar {
  background: transparent;
  display: flex;
  position: fixed;
  width: 80%;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  background: #fff;
  padding: 0 10%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  flex-direction: column;
}

.LogoWrapper {
  flex: 1;
  display: flex;
  align-self: center;
  margin-top: 4px;
}

.Logo {
  max-height: 50px;
  display: block;
  align-self: center;
}

.ListItemWrapper {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-items: center;
  flex: 1;
  padding: 0;
}

.ListItem {
  flex: 1;
  font-family: "Bebas Neue", cursive;
  font-size: x-large;
  padding: 4px;
  border: 2px solid black;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0;
}

.ListItem:hover {
  background: lightgray;
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

.ListItem:active {
  transform: scale(0.9);
}

.ListItem {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  .ListItemWrapper {
    flex-direction: row;
  }

  .ListItem {
    margin: 0 16px;
  }

  .Navbar {
    flex-direction: row;
  }

  .LogoWrapper {
    margin-top: 0px;
  }
}
