.Wrapper {
    margin-top: 200px;
    padding: 0 10%;
    min-height: calc(100vh - 250px);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.Wrapper div img, .Wrapper h1 img {
    max-width: 400px;
}

.Logo {
    max-height: 500px;
}

@media (min-width: 768px) {
    .Wrapper {
      margin-top: 100px;
    }

    .Wrapper div img, .Wrapper h1 img {
        max-width: 500px;
    }
}
  
@media (min-width: 1200px) {
    .Wrapper div img, .Wrapper h1 img {
        max-width: 600px;
    }
}