.Wrapper {
  margin-top: 70px;
  margin-bottom: 50px;
  padding: 0 10%;
  min-height: calc(100vh - 250px);
  display: flex;
  align-items: center;
}

.GalleryWrapper {
  margin: 100px;
}

@media (min-width: 768px) {
}
